/*
 * Author: Gregório Ribeiro de Miranda
 * Date:   2025-01-21
 * Current version hosted at: https://github.com/ggio/gnucash_dark_everforest
 *
 * Gtk3 css file for use with gnucash.
 */

/* ====== COLORS ====== */

/* Elementary colors
 * in most part  from 0xGlitchbyte/obsidian_forest: https://github.com/0xGlitchbyte/obsidian_everforest/blob/main/obsidian.css */

@define-color bg0-dark       #22282c;
@define-color bg1-dark       #272f34;
@define-color bg-dark        #2f383e;
@define-color bg2-dark       #374247;
@define-color bg3-dark       #404c51;
@define-color bg4-dark       #4a555b;
@define-color bg5-dark       #525c62;
@define-color bg_visual      #503946;
@define-color bg_red         #4e3e43;
@define-color bg_green       #404d44;
@define-color bg_blue        #394f5a;
@define-color bg_yellow      #4a4940;
@define-color shadow         #000070;

@define-color fg0-dark       #d3c6aa;
@define-color fg1-dark       #e9d2a8;
@define-color grey0-dark     #7f897d;
@define-color grey1-dark     #859289;
@define-color grey2-dark     #9aa79d;

@define-color bright-yellow  #cc9900;
@define-color bright-red     #fc8b81;

@define-color faded-red     #e67e80;
@define-color faded-orange  #e69875;
@define-color faded-yellow  #dbbc7f;
@define-color faded-green   #a7c080;
@define-color faded-aqua    #83c092;
@define-color faded-blue    #7fbbb3;
@define-color faded-purple  #d699b6;

@define-color dim-red       #da6362;
@define-color dim-orange    #d77f48;
@define-color dim-yellow    #bf983d;
@define-color dim-green     #899c40;
@define-color dim-aqua      #569d79;
@define-color dim-blue      #5a93a2;
@define-color dim-purple    #b87b9d;

/* Application wide colors */

@define-color bg_color		@bg-dark;
@define-color bg_02		@bg2-dark;
@define-color bg_03		@bg0-dark;
@define-color bg_highlight	@bg_03;
@define-color fg_color		@fg1-dark;
@define-color fg_highlight	@bright-yellow;
@define-color fg_pop		@bright-yellow;
@define-color negative		@bright-red;

/* Register's colors */

@define-color bg_header     #4c5f3a;
/*@define-color fg_header     #d4ddcd;*/
@define-color bg_primary    #A7C080;
@define-color fg_primary    #1c2921;
@define-color bg_secondary  #fff9b2;
@define-color fg_secondary  #272402;
@define-color bg_cursor     #ffeb81;
@define-color fg_cursor     #3a3000;

/* ====== GENERAL ====== */

/* Application wide font setting */
* 
{
  color: @fg_color;
  border-color: @fg_color;
  outline-color: @fg_color;
  outline-width: 0px;
  border-width: 0px;
}

/* Highlight Text */
.gnc-class-highlight 
{
  background-color: @bg_color;
  color: @fg_highlight;
}

/* Negative number color */
.gnc-class-negative-numbers 
{
  color: @negative;
}

entry 
{
  background-color: @bg_03;
}

/* Scollbar size */
scrollbar slider 
{
    /* Size of the slider */
    min-width: 20px;
    min-height: 20px;
    border-radius: 22px;
    color: @fg_color;
    background-color: @fg_color;
    /* Padding around the slider */
    border: 5px solid transparent;
}

/* ====== MAIN ====== */

#gnc-id-main-window 
{
  background-color: @bg_03;
}

#gnc-id-main-window notebook header 
{
  background-color: @bg_03;
}

/* Area above the status bar */
#gnc-id-account-page 
{
  background-color: @bg_03;
}

#gnc-id-account-tree:hover 
{
  background-color: @bg_highlight;
}

#gnc-id-account-tree 
{
  background-color: @bg_color;
}

/* Controls, along much other things, the budget summary */
treeview 
{
  background-color: @bg_03;
  color: @fg_color;
}

treeview:hover 
{
  background-color: @bg_highlight;
  color: @fg_highlight;
}

treeview:selected 
{
  color: @fg_pop;
}

gnc-id-sheet-list treeview 
{
  background-color: @bg_highlight;
  color: @fg_highlight;
}

gnc-id-sheet-list treeview:hover 
{
  border-style: solid;
  border-width: 1px;
  border-color: @fg_highlight;
  background-color: @bg_color;
}

/* Progress bar */
progressbar progress 
{
  color: green;
}

/* Status Bar */
statusbar frame 
{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: @bg_03;
}

statusbar 
{
  background-color: @bg_03;
} 

statusbar label 
{
  /* font-size: 12px; */
  color: @fg_pop;
}

/* Summary bar */
#gnc-id-summarybar 
{
  background-color: @bg_color;
  color: @fg_pop;
}

#gnc-id-summarybar .gnc-class-highlight 
{
  background-color: @bg_highlight;
  color: @fg_pop;
}

#gnc-id-summarybar label 
{
  background-color: @bg_color;
  color: @fg_pop;
}

/* Toolbar Button size and spacing */
toolbar 
{
  background-color: @bg_03;
  color: @fg_highlight;
}

/* Toolbar font size, 0 to remove text */
toolbar toolbutton label 
{
  /* font-size: 0px; */
}

toolbar toolbutton button 
{
  padding-left: 4px;
  padding-right: 4px;
}

toolbar toolbutton label 
{
  padding-left: 4px;
  padding-right: 4px;
}

/* Gnucash Main Window, reduce size */
#gnc-id-main-window notebook tab 
{
  min-height: 25px;
  min-width: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 0px;
  border-bottom: 0px;
  background-color: @bg_02;
}

#gnc-id-main-window notebook tab:checked 
{
  background-color: @bg_highlight;
}

#gnc-id-main-window notebook tab:checked label 
{
  color: @fg_pop;
}

#gnc-id-main-window notebook label 
{
  /* font: 14px arial, sans-serif; */
}

#gnc-id-main-window notebook tab button 
{
  min-height: 0;
  min-width: 0;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

tab:checked, tab:checked label 
{
  background-color: @bg_highlight;
  color: @fg_highlight;
}

/* ====== MENU ====== */

#gnc-id-main-window menubar 
{
  color: @fg_color;
  background-color: @bg_color;
  outline-width: 0px;
  border-width: 0px;
}

menuitem label 
{
  background-color: inherit;
  color: inherit;
}

menuitem label accelerator 
{
  background-color: inherit;
  color: inherit;
}

menuitem:disabled 
{
  color: mix (@fg_color, @bg_color, 0.5);
}

menuitem:hover 
{
  background-color: @bg_highlight;
  color: @fg_highlight
}

menuitem 
{
  background-color: @bg_color;
  color: @fg_color;
}
/* ====== REGISTER ====== */

gnc-id-register 
{
}

/* Register sheet font setting */
gnc-id-sheet 
{
  border-width: 0px;
  outline-width: 0px;
  background-color: @bg_color;
}

/* Register header font setting */
gnc-id-header 
{
}

.gnc-class-register-foreground 
{
  color: inherit;
}

gnc-id-cursor entry 
{
  background-color: @bg_cursor;
  color: @fg_cursor;
  /* border-color: red;
  border-width: 1px;   */
}

gnc-id-cursor entry undershoot 
{
  background-color: @bg_cursor;
  color: @fg_cursor;
}

gnc-id-cursor widget 
{
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

selection 
{
  background-color: @fg_color;
  color: @bg_color;
}

/* Register sheet calendar */
gnc-id-sheet calendar 
{
  border-width: 1px;
}

/* Register User Colors, remove 'user' for builtin register values */
.gnc-class-register-header 
{
  color: @fg_color;
  background-color: @bg_header;
}

.gnc-class-register-primary 
{
  color: @fg_primary;
  background-color: @bg_primary;
}

.gnc-class-register-primary:disabled 
{
  color: mix (black, @bg_color, 0.5);
  background-color: @bg_primary;
}

.gnc-class-register-secondary 
{
  color: @fg_secondary;
  background-color: @bg_secondary;
}

.gnc-class-register-secondary:disabled 
{
  color: mix (black, @bg_color, 0.5);
  background-color: @bg_secondary;
}

.gnc-class-register-split 
{
  color: @fg_secondary;
  background-color: @bg_secondary;
}

.gnc-class-register-split:disabled 
{
  color: mix (@fg_color, @bg_color, 0.5);
}

.gnc-class-register-cursor 
{
  background-color: @bg_cursor;
  color: @fg_cursor;
}

/* ====== BUTTONS ====== */

button 
{
  /* Clear button image imposed by GTK theme */
  background-image: none;
  border-width: 3px;
  border-style: solid;
  border-color: mix (@bg_03, @bg_02, 0.5);
  background-color: @bg_02;
}

button:hover 
{
  border-color: mix(@fg_color, @bg_color, 0.5);
  background-color: @bg_highlight;
}

button:hover label 
{
  background-color: inherit;
  color: @fg_pop;
}

button:active 
{
  border-color: mix (@bg_03, @fg_highlight, 0.5);
}

button:focus label 
{
  color: @fg_highlight;
}

button:focus 
{
  background-color: @bg_highlight;
}

.text-button label 
{
  background-color: inherit;
}

/* Other buttons */

check 
{
  background-image: none;
  color: @fg_pop;
  background-color: mix (@bg_03, @bg_color, 0.5);
}

check:hover 
{
  background-color: @bg_03;
}

check:checked 
{
  background-color: @bg_03;
}

radio 
{
  background-image: none;
  color: @fg_pop;
  background-color: mix (@bg_03, @bg_color, 0.5);
}

gnc-id-cursor button 
{
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  border-width: 1px;
}

/* ====== DIALOGS ====== */

assistant 
{
  background-color: @bg_color;
}

assistant notebook 
{
  background-color: @bg_03;
}

dialog 
{
  background-color: @bg_color;
}

dialog stack 
{
  background-color: @bg_color;
}

messagedialog 
{
  background-color: @bg_color;
}

messagedialog box 
{
}

.sidebar 
{
  background-color: @bg_02;
}

text 
{
  background-color: @bg_03;
}

/* Frame around text in the tip of the day dialog */
textview 
{
  background-color: @bg_03;
}

window, stack 
{
  background-color: @bg_color;
}

window header 
{
  background-color: @bg_03;
}

/* Specific windows */

dialog #gnc-id-account-tree 
{
  background-color: @bg_03;
}

#gnc-id-account notebook header 
{
  background-color: @bg_03;
}

#gnc-id-commodity 
{
  background-color: @bg_color;
}

#gnc-id-preferences stack 
{
  background-color: @bg_03;
}

#gnc-id-preferences tabs 
{
  background-color: @bg_color;
}

/* ====== CALENDAR ====== */

/* Dense Calendar Settings, use widget name gnc-id-dense-calendar
 * or gtk css name calendar which would also apply to other calendar
 * widgets */

/*.calendar {*/
/*    background-color: @bg_color;*/
/*    color: @fg_color;*/
/*}*/

#gnc-id-dense-calendar .frame 
{
}

calendar .frame 
{
}

#gnc-id-dense-calendar .header 
{
}

/* Header in "Scheduled Transactions" */
calendar .header 
{
  background-color: @bg_02;
  border-radius:    2px ;
  border-width:     1px ;
}

/* Days of the week in Register */
calendar .highlight
{
  background-color: @bg_02 ;
  color:            @fg_color ;
  border-radius:    1px ;
  padding:          1px ;
}

calendar.view
{
  background-color: @bg_02 ;
}

calendar.button:hover
{
  background-color: @bg_highlight ;
  border-style:     solid ;
  border-width:     1px ;
  color:	    @fg_pop;
}

calendar*:selected,
calendar*:selected:focus
{
  background-color: @fg_pop ;
  color:            @bg_03 ;
  border-radius:    2px ;
}

#gnc-id-dense-calendar .calendar
{
    color: @fg_color;
}

#gnc-id-dense-calendar .view .label
{
    color: red;
}

#gnc-id-dense-calendar .primary-dark {
  background-color: mix(@bg_primary, black, 0.7);
}

#gnc-id-dense-calendar .secondary-dark {
  background-color: mix(@bg_color, black, 0.1);
}

#gnc-id-dense-calendar .markers-dark {
  background-color: mix(@fg_pop, black, 0.4);
}

#gnc-id-dense-calendar .primary 
{
}

#gnc-id-dense-calendar .secondary 
{
}

#gnc-id-dense-calendar .markers 
{
  color: @fg_pop;
}

#gnc-id-dense-calendar-popup 
{
  color: @fg_color;
}

#gnc-id-dense-calendar-popup treeview 
{
  color: @fg_color;
}

/* ====== RECONCILE WINDOW ====== */

#gnc-id-reconcile-totals * 
{
}

.gnc-class-credits treeview 
{
}

.gnc-class-credits treeview:selected 
{
  background-color: @bg_color;
  color: @fg_color;
}

.gnc-class-debits treeview 
{
}

.gnc-class-debits treeview:selected 
{
  background-color: @bg_highlight;
  color: @fg_highlight;
}
